@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Latin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    --font-size: 3em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    gap: 1em;
}

.letters-numbers {
    font-size: var(--font-size);
}

.sizes {
    text-align: center;
}

.x {
    line-height: 1.75em;
}
