@media (hover: none) {
    html,
    body {
        height: 100dvh;
    }

    * {
        --font-size-xy: 8vh;
        --font-size: calc(var(--font-size-xy) * 0.35);
    }

    .zoom-indicator-wrapper {
        display: none;
    }
}
