@media (hover: none) {
    html,
    body {
        height: 100dvh;
    }
    * {
        --font-size-xy: 8vw;
    }

    .zoom-indicator-wrapper {
        height: 20px;
    }

    .zoom-percentage {
        font-size: 2vw;
    }

    .zoom-label {
        font-size: 2vw;
    }
}
