@media (hover: none) {
    html,
    body {
         height: 100vh;
    }

    * {
         --font-size-xy: 8vw;
    }

    .zoom-indicator-wrapper {
         display: none;
    }

    .dark-mode-container .dark-mode {
         height: 300vh;
         width: 300vh;
    }
}
