@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Latin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    --font-size-xy: 4vw;
    --font-size: calc(var(--font-size-xy) * 0.35);
    --wrap-indicator: 2vw;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html,
body {
    height: 100vh;
}
body {
    overflow: hidden;
}

img.cursor {
    width: 1vw;
    height: 1vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dimensions {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.letters-numbers {
    font-size: var(--font-size-xy);
}

.sizes {
    text-align: center;
}

.x {
    margin-top: 1.5vw;
}

.indicator {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-size: var(--font-size);
}

.indicator:hover {
    color: #3c74a8;
}

.sizes div:first-child,
.indicator {
    font-size: var(--font-size);
    user-select: none;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--wrap-indicator));
}

.zoom-indicator-wrapper {
    height: var(--wrap-indicator);
    background-color: #ddd;
}

.zoom-indicator-bar {
    height: 100%;

    background-color: #3c74a8;
    transition: width 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-percentage {
    font-size: calc(var(--wrap-indicator) * 0.5);
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

main:focus,
main:focus-within,
main:active {
    outline: none;
    position: fixed;
    box-shadow: 0 0 0 0.3vw rgba(60, 116, 168, 0.8);
    visibility: visible;
    border: 0.5vw solid transparent;
}

.cursor {
    --icon-size: calc(var(--font-size-xy) * 0.25);

    background-image: url('/assets/fontawesome/mouse.svg');
    height: var(--icon-size);
    width: var(--icon-size);
    background-repeat: no-repeat;
    background-size: contain;
}

.indicator:hover .cursor {
    background-image: url('/assets/fontawesome/mouse-hover.svg');
}
