:root {
    --font-size-xy: 4vw;
    --font-size: calc(var(--font-size-xy) * 0.35);
    --wrap-indicator: 2vw;

    --dominated-color: #3c74a8;
    --zoom-color: #ffffff;
    --zoom-indicator-background: #ddd;

    --cursor-image-hover: url('/assets/images/mouse-hover.svg');
}

@font-face {
    font-family: 'lato';
    src: url('/assets/fonts/Lato-Latin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('/assets/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Only put resets here and css vars in :root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--color-text);
    background-color: var(--color-background);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

main:focus,
main:focus-within,
main:active {
    outline: none;
    box-shadow: 0 0 0 0.3vw var(--dominated-color);
    border: 0.5vw solid transparent;
}

.dimensions {
    position: relative;
    display: flex;
    gap: 1vw;
    align-items: center;
}

.letters-numbers {
    font-size: var(--font-size-xy);
}

.sizes {
    text-align: center;
}

.x {
    margin-top: 1.5vw;
}

.indicator {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.sizes div:first-child,
.indicator {
    font-size: var(--font-size);
    user-select: none;
}

.indicator:hover {
    color: var(--dominated-color);
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--wrap-indicator));
}

.zoom-indicator-wrapper {
    height: var(--wrap-indicator);
    background-color: var(--zoom-indicator-background);
}

.zoom-indicator-bar {
    height: 100%;
    background-color: var(--dominated-color);
    transition: width 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-percentage {
    font-size: calc(var(--wrap-indicator) * 0.5);
    color: var(--zoom-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.cursor {
    --icon-size: calc(var(--font-size-xy) * 0.25);
    background-image: var(--cursor-image);
    height: var(--icon-size);
    width: var(--icon-size);
    background-repeat: no-repeat;
    background-size: contain;
}

.indicator:hover .cursor {
    background-image: var(--cursor-image-hover);
}

.theme-icon:before {
    content: var(--button-content);
}
